@using Crm.Customers

@inject ICustomerAppService CustomerAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Edit Customer</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Customer Name:</FieldLabel>
                    <InputText @bind-Value="CustomerUpdateDto.Name" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Customer Surname:</FieldLabel>
                    <InputText @bind-Value="CustomerUpdateDto.Surname" class="form-control" />
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Email:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Email" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Phone:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Phone" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Address:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.Address" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Company Name:</FieldLabel>
                        <InputText @bind-Value="CustomerUpdateDto.CompanyName" class="form-control" />
                    </Field>
                </Card>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@UpdateCustomerAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>        
</CascadingValue>