@using Crm.Customers

@inject ICustomerAppService CustomerAppService

<CascadingValue Value="this">
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Add Customer</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Customer Name:</FieldLabel>
                    <InputText @bind-Value="Name" class="form-control" />
                </Field>
                <Field>
                    <FieldLabel>Customer Surname:</FieldLabel>
                    <InputText @bind-Value="Surname" class="form-control"/>
                </Field>
                <Card>
                    <Field>
                        <FieldLabel>Email:</FieldLabel>
                        <InputText @bind-Value="Email" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Phone:</FieldLabel>
                        <InputText @bind-Value="Phone" class="form-control" />
                    </Field>
                </Card> 

                <Card>
                    <Field>
                        <FieldLabel>Address:</FieldLabel>
                        <InputText @bind-Value="Address" class="form-control" />
                    </Field>
                </Card>

                <Card>
                    <Field>
                        <FieldLabel>Company Name:</FieldLabel>
                        <InputText @bind-Value="CompanyName" class="form-control" />
                    </Field>
                </Card>

            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@CreateCustomerAsync">Save Changes</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
</CascadingValue>


