<h3>OrderCreateModal</h3>

@code {
    private Modal modalRef;

    private EventCallback EventCallback { get; set; }

    public Task ShowModal(EventCallback eventCallback)
    {
        EventCallback = eventCallback;
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }
}
