.status-label {
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 12px; 
    font-weight: bold; 
}

.status-pending {
    background-color: orange;
}

.status-active {
    background-color: dodgerblue;
}

.status-completed {
    background-color: forestgreen;
}

.status-canceled {
    background-color: red;
}

.progress-container progress {
    width: 100%;
    height: 20px;
}


